<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community Fridge</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header class="bg-lime-600 text-white md:flex">
    <div class="flex md:block">
      <h1>
        <a href="/" class="px-4 py-3 block hover:bg-lime-500">
        <span class="text-lg">{{> svgs/fridgeSolid}}</span>
          Community Fridge
        </a>
      </h1>
      <button class="ml-auto px-4 py-3 flex align-center md:hidden hover:bg-lime-500" id="main-menu-toggle">
          {{> svgs/menu}}
      </button>
    </div>
    <!-- TODO: Add a comment describing the functionality of this helper -->
    <nav id="main-menu" class="menu ml-auto hidden md:flex">
      {{#if logged_in}}
        <a href="/" class="px-4 py-3 block hover:bg-lime-500 flex justify-end gap-2 items-center align-center flex-row-reverse md:flex-row">
          <span>Community</span> {{> svgs/shop}}
        </a>
        <a href="/myfridge" class="px-4 py-3 block hover:bg-lime-500 flex justify-end gap-2 items-center flex-row-reverse md:flex-row">
          <span>My Fridge</span> <span class="text-lg">{{> svgs/fridgePerson}}</span>
        </a>
        <button class="px-4 py-3 hover:bg-lime-500" id="logout">logout</button>
      {{else}}
        <a href="/login" class="px-4 py-3 block hover:bg-lime-500">Login</a>
      {{/if}}
    </nav>
  </header>
  <main class="container mx-auto my-8 px-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  <!-- TODO: Add a comment describing the functionality of this helper -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="/js/menu.js"></script>


</body>

</html>
