<h2 class="text-xl font-bold mb-5">{{user.username}}'s Fridge</h2>

<div class="grid grid-cols-3 gap-1">
    <div class="col-span-2">
        <div class="grid grid-cols-2 gap-1">
        {{#each user.food_items}}
        <div class="bg-stone-200 px-3 py-2">{{name}}</div>
        <!-- ... -->
        <div class="bg-stone-200 px-3 py-2">{{quantity}}</div>
        {{/each}}
        </div>
    </div>
  <div class="pl-5">
    <form class="form add-food-form mb-5">
      <div class="form-group mb-5">
        <label for="food-name-add-food">Food name:</label>
        <input class="form-control block w-full px-3 py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-lime-600 focus:outline-none"
              type="text" id="food-name-add-food"
        />
      </div>
      <div class="form-group mb-5">
        <label for="quantity-add-food">quantity:</label>
        <input class="form-control block w-full px-3 py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-lime-600 focus:outline-none" type="text" id="quantity-add-food" />
      </div>
      <div class="form-group">
        <button class="bg-lime-500 hover:bg-lime-600 text-white font-bold py-2 px-4 rounded" type="submit">Add food</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/add-food.js"></script>